.aboutContainer {
  display: flex;
  flex-direction: column;
  // min-height: 550px;
  @include themed() {
    color: t('font');
  }
}
.header {
  height: 50px;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 34px;
    @include themed() {
      border-bottom: 3px solid t('font');
    }
  }
}
.skillIcons {
  display: flex;
  justify-content: space-around;
  margin: 24px 0px;
  & i {
    font-size: 34px;
  }
}
.text {
  background-clip: text;
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent;
  background-image: $rainbowFont;
}
