.aboutContainer {
  display: flex;
  flex-direction: column;
  @include themed() {
    color: t('font');
  }
}
.skillIcons {
  display: flex;
  justify-content: space-around;
  margin: 24px 0px;
  & i {
    font-size: 34px;
  }
}
.text {
  background-clip: text;
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent;
  background-image: $rainbowFont;
}
