.aboutContainer {
  @extend .container;
  min-height: 768px;
}
.aboutWrapper {
  @extend .contentBoundary;
  display: grid;
  grid-template-rows: 120px minmax(200px, 650px);
  grid-template-columns: 40% 50%;
  grid-gap: 0px 70px;
  @media (max-width: $small) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr 4fr;
  }
}
.aboutDescription {
  font-weight: 500;
  align-self: center;
  @include themed() {
    color: t('text');
  }
}
