.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 16px;
  box-sizing: border-box;
  transition: all 0.3s;
  z-index: 100;
  @include themed() {
    background: t('sidebar');
  }
}
.sidebarTop {
  display: flex;
  transition: all 0.3s;
  outline: none;
  cursor: pointer;
  @include themed() {
    color: t('font');
  }
  & h1:last-of-type {
    margin-left: -2px;
  }
}
.logo {
  margin-block-end: 0px;
  margin-block-start: 0px;
  font-family: $fontFamily;
  font-weight: bold;
  line-height: 1;
  font-size: 40px;
  @include themed() {
    color: t('sidebarFont');
  }
}
.navigationContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  width: 42px;
  border-radius: 0px 4px 4px 0;
  left: 0;
  padding: 4px;
  @include themed() {
    background: t('nav');
  }
  @media (max-width: $small) {
    flex-direction: row;
    width: 184px;
    position: absolute;
    border-radius: 0px 0px 4px 4px;
    top: 0;
  }
}

.attributionLink {
  position: absolute;
  font-size: 10px;
  transform: rotate(-90deg);
  white-space: nowrap;
  transform-origin: left;
  background: white;
  width: 148px;
  border-radius: 4px;
  height: 23px;
  left: -7px;
  bottom: 4%;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.3s;
  &:hover {
    left: 5px;
  }
}

// nav transitions
%nav-icon {
  position: absolute;
  left: 0px;
  font-size: 11px;
  width: 100%;
  text-align: center;
}

.navLink {
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  &.active {
    color: black !important;
    & i {
      opacity: 1;
    }
  }
  @include themed() {
    color: t('navLink');
  }
  & i {
    transition: all 0.15s ease-out;
    opacity: 0.5;
    height: 28px;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
    & i {
      opacity: 0;
    }
  }
  &:after {
    opacity: 0;
  }
  &:first-child:after {
    @extend %nav-icon;
    content: 'home';
  }
  &:first-child + div:after {
    @extend %nav-icon;
    content: 'about';
  }
  &:first-child + div + div:after {
    @extend %nav-icon;
    content: 'work';
  }
  &:first-child + div + div + div:after {
    @extend %nav-icon;
    content: 'contact';
  }
}
.home {
  content: url(https://img.icons8.com/small/32/000000/home.png);
}
.about {
  content: url(https://img.icons8.com/small/32/000000/user-female.png);
}
.skills {
  content: url(https://img.icons8.com/small/32/000000/wrench.png);
}
.work {
  content: url(https://img.icons8.com/small/32/000000/laptop.png);
}
.resume {
  content: url(https://img.icons8.com/small/32/000000/open-resume.png);
}
.contact {
  content: url(https://img.icons8.com/small/32/000000/ringing-phone.png);
}

.externalLinks {
  display: flex;
  justify-content: space-between;
}
.linkIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  @include themed() {
    border: 1px solid t('sidebarFont');
    color: t('sidebarFont');
  }
  &:hover {
    opacity: 0.9;
  }
}
.overlay {
  z-index: 20;
  height: 100vh;
  width: 0%;
  position: absolute;
  left: 0;
  background: #e0d2d2;
}
.transition {
  width: 100vw;
  animation: pageTransition 2s ease-out;
}
@keyframes pageTransition {
  0%,
  100% {
    width: 0%;
  }
  45%,
  55% {
    width: 100vw;
  }
}
