// skills
.experienceContainer {
  height: 45vh;
  max-height: 359px;
  @include themed() {
    background: t('bg');
  }
  & .react-multi-carousel-list {
    height: 100%;
    & ul.react-multi-carousel-track {
      height: 100%;
    }
  }
}
.experienceWrapper {
  width: 90vw;
  max-width: 1400px;
  display: grid;
  grid-template-rows: 120px auto;
  grid-template-columns: 1fr;
  margin: auto;
  height: calc(100% - 30px);
  @media (max-width: $small) {
    grid-template-rows: 60px auto;
  }
}
.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 0 60px;
  grid-template-rows: repeat(3, 50px);
  grid-auto-flow: column;
  margin: auto 0;
  @media (max-width: $small) {
    grid-template-columns: auto;
    grid-gap: 0px 16px;
    margin: 0;
    grid-template-rows: repeat(5, minmax(32px, 1fr));
  }
}
.skill {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  align-items: center;
  & h3 {
    margin-block-start: 0em;
  }
  @include themed() {
    color: t('text');
  }
}
.level {
  white-space: nowrap;
}
.workGrid {
  display: grid;
  grid-template-rows: 25% auto;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 0 60px;
  color: white;
  @media (max-width: $small) {
    display: flex;
    flex-direction: column;
  }
}
.work {
  & p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    line-height: 1.5;
  }
  @include themed() {
    color: t('text');
  }
}
.workName {
  @include themed() {
    color: t('accent');
  }
}
.responsibilities {
  margin-block-start: 1em;
  & li {
    line-height: 1.5;
  }
}
.footer {
  @extend .container;
  height: 220px;
  width: 100vw;
  @include themed() {
    background: t('primary');
  }
}
.footerContent {
  padding: 1.5em;
  width: 90vw;
  max-width: 1400px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footerCaption {
  margin-top: 0em;
}
.externalLinks {
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 180px;
}
.linkIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border-radius: 50%;
  @include themed() {
    background: white;
    color: t('primary');
  }
  &:hover {
    opacity: 1;
  }
}

.resumeBtn {
  @extend .button;
  margin-left: auto;
  @include themed() {
    background: t('secondary');
    color: t('text');
  }
}
