.contactContainer {
  display: grid;
  font-weight: 700;
  grid-area: 2/3/3/2;
  font-family: $fontFamily;
  @include themed() {
    color: t('font');
    background-color: t('sidebar');
  }
}
.contactDetails {
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: #e0d2d2;
  @include themed() {
    color: t('font');
  }
}
.contactOption {
  display: flex;
  align-items: center;
  & img {
    width: 30px;
    margin-right: 16px;
  }
}
