.contactContainer {
  display: grid;
  font-weight: 700;
  background-position: right;
  font-family: $fontFamily;
  @include themed() {
    background: t('gradient'), url(/background.jpeg) no-repeat fixed right;
    color: t('font');
  }
}
.contactDetails {
  height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  @include themed() {
    color: t('font');
  }
}
.contactOption {
  display: flex;
  align-items: center;
  height: 50px;
  & img {
    width: 30px;
    margin-right: 16px;
  }
}
