.homepageContainer {
  font-weight: 700;
  font-family: $fontSecondary;
  grid-area: 2/3/3/2;
  & p {
    line-height: 2;
  }
}
.introduction {
  z-index: 20;
}
.name {
  width: fit-content;
  @include themed() {
    color: t('font');
  }
}
.tagline {
  font-weight: 700;
  line-height: 2;
  overflow: hidden;
  @include themed() {
    color: t('font');
  }
}
.skillsCloud {
  width: 90%;
  margin: 0px auto;
  height: 100%;
  align-self: center;
}
