.homepageContainer {
  grid-row: 1/3;
  min-width: 800px;
  font-weight: 700;
  font-family: $fontSecondary;
  display: flex;
  margin: auto;
  & p {
    margin-block-end: 0px;
    margin-block-start: 0px;
    line-height: 2;
  }
}
.introduction {
  width: fit-content;
  white-space: nowrap;
  z-index: 20;
}
.name {
  font-size: 48px;
  width: fit-content;
  @include themed() {
    color: t('font');
  }
}

.tagline {
  font-weight: 700;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  @include themed() {
    color: t('font');
  }
}

.tagline.dark {
  // animation: flashBright 1s infinite;
  // animation: typing 3.5s steps(33, end);
  // animation-delay: 3s;
}

// .tagline.second {
//   animation: typing 3.5s steps(40, end);
//   animation-delay: 6s;
// }

.fa-map-marked-alt {
  margin-left: 8px;
}

.darkMode {
  font-size: 32px;
  font-weight: 700;
  line-height: 2;
  color: $light;
}

.skillsCloud {
  // display: grid;
  width: 90%;
  // grid-template-columns: repeat(2, minmax(70px, 1fr));
  // grid-auto-rows: minmax(25px, auto);
  // grid-gap: 16px;
  margin: 0px auto;
  height: 100%;
  align-self: center;
}

// @keyframes typing {
//   from {
//     width: 0;
//   }
//   to {
//     width: 100%;
//   }
// }

// @keyframes blink-caret {
//   from,
//   to {
//     border-color: transparent;
//   }
//   50% {
//     border-color: black;
//   }
// }
@keyframes flashBright {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem var(--lightMode), 0.2rem 0.2rem 1rem var(--lightMode),
      0 0 3px var(--neonTextColor), 0 0 6px var(--neonTextColor), 0 0 9px var(--neonTextColor),
      0 0 12px var(--neonTextColor), 0 0 15px var(--neonTextColor);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}
