.projectContainer {
  @extend .container;
  height: fit-content;
  @include themed() {
    color: t('text');
  }
}
.projectWrapper {
  @extend .contentBoundary;
  display: grid;
  padding-bottom: 70px;
  grid-template-rows: 120px repeat(2, minmax(450px, 1fr));
  grid-template-columns: 40% 50%;
  grid-gap: 40px 70px;
  & a {
    @include themed() {
      font-weight: bold;
      color: t('accent');
    }
  }
  @media (max-width: $small) {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
.projectTitle {
  font-weight: bold;
}
