//sizes
$xSmall: 350px;
$small: 464px;
$medium: 770px;
$large: 1200px;

$ipad: 1000px;

// font-sizes
$xSmallPadding: 16px;
$xSmallHeader: 16px;
$xSmallText: 10px;

// other colors
$light: white;
$dark: black;
$secondaryFont: 'Antic Didone', serif;
$boxShadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.4);
$rainbowFont: pink;

// themes
$themes: (
  electric: (
    bg: #d7fff3,
    accent: #8000ff,
    accentShadow: #eeddff,
    text: $dark,
    accentText: $light,
  ),
  deco: (
    bg: #f6d97b,
    accent: #e76f51,
    accentShadow: #f4a261,
    text: #2a9d8f,
    accentText: $light,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
