//sizes
$xSmall: 350px;
$small: 430px;
$medium: 900px;
$large: 1024px;

// font-sizes
$xSmallPadding: 16px;
$xSmallHeader: 16px;
$xSmallText: 10px;

// other colors
$light: white;
$lightText: rgb(180, 132, 132);
$dark: black;
$neonTextColor: #02a6f2;
$fontFamily: 'Bellota Text', cursive;
$fontSecondary: 'Montserrat', sans-serif;
$darkAccent: #8e8888;
$lightAccent: #e8d7d7;

// themes
$themes: (
  light: (
    rainbowText: linear-gradient(to right, $dark, #6f3894, #b9b95c),
    bg: $light,
    sidebar: $dark,
    nav: $lightAccent,
    sidebarFont: $light,
    font: $dark,
    gradient: linear-gradient(to right, rgba(224, 210, 210, 0.9), rgba(224, 210, 210, 0.65)),
    navLink: grey,
    boxShadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.4),
    boxShadowEnhanced: 0px 2px 8px 0px rgba(0, 0, 0, 0.4),
  ),
  dark: (
    rainbowText: linear-gradient(to right, $light, #b9b95c, #6f3894),
    bg: $dark,
    sidebar: $light,
    nav: $darkAccent,
    sidebarFont: $dark,
    font: $light,
    gradient: linear-gradient(to right, rgba(142, 136, 136, 0.9), rgba(142, 136, 136, 0.65)),
    floatingText: linear-gradient(to right, #b393b3, #d8d8c3, #695a73),
    navLink: $light,
    boxShadow: 0px 0px 5px 0px rgb(128, 121, 121),
    boxShadowEnhanced: 0px 0px 10px 1px rgb(128, 121, 121),
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
