.workContainer {
  margin: 10px;
  display: grid;
  height: fit-content;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-gap: 36px;
}
.projectContainer {
  display: flex;
  flex-direction: column;
  background: white;
  text-decoration: none;
  cursor: pointer;
  font-family: $fontSecondary;
  transition: all 0.4s;
  & img {
    transition: all 0.5s;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
  }
  @include themed() {
    box-shadow: t('boxShadow');
  }
  &:hover {
    & img {
      transform: scale(1.03);
    }
    @include themed() {
      box-shadow: t('boxShadowEnhanced');
    }
  }
}
.projectDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding: 24px;
  @include themed() {
    background: t('nav');
    color: t('font');
  }
  & span:first-child {
    font-weight: 700;
  }
  & span {
    margin-top: 12px;
  }
}
