@import 'themes';
@import 'components';
@import 'floating-text';
@import 'toggle';
@import 'homepage';
@import 'about';
@import 'work';
@import 'contact';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  & h1 {
    font-size: 400%;
  }
  & h2 {
    margin-block-end: 0px;
    margin-block-start: 0px;
  }
  & h3 {
    line-height: 2;
    margin-block-end: 0px;
    margin-block-start: 0px;
  }
  @media (max-width: $large) {
    & h1 {
      font-size: 350%;
    }
    & svg {
      font-size: 100%;
    }
    & span {
      font-size: 90%;
    }
  }
  @media (max-width: $small) {
    & h1 {
      font-size: 200%;
    }
    & h2 {
      font-size: 110%;
    }
    & h3 {
      font-size: 80%;
    }
    & p {
      font-size: 80%;
    }
    & span {
      font-size: 80%;
    }
  }
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.darkModeToggle {
  position: absolute;
  top: 8px;
  right: 0;
}
.contentContainer {
  height: inherit;
  position: relative;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  @include themed() {
    background: t('bg');
  }
}
.content {
  display: grid;
  grid-template-rows: 20% auto;
  grid-gap: 24px;
  width: 84%;
  height: calc(100% - 100px);
  overflow: scroll;
}
.headline {
  align-self: flex-end;
  font-family: $fontSecondary;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  font-weight: 800;
  animation: typing 3.5s ease;
  @include themed() {
    color: t('font');
  }
}

@keyframes typing {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
