@import 'themes';
@import 'components';
@import 'toggle';
@import 'about';
@import 'work';

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  & h2 {
    font-weight: 500;
    line-height: 1.8;
    margin-block-end: 0px;
    margin-block-start: 0px;
    letter-spacing: 1px;
  }
  & h3 {
    margin-block-end: 0px;
    margin-block-start: 0px;
    letter-spacing: 1px;
  }
  & p {
    line-height: 2;
    text-align: justify;
  }
  @media (max-width: $large) {
    & h1 {
      font-size: 350%;
    }
    & svg {
      font-size: 100%;
    }
    & span {
      font-size: 90%;
    }
  }
  @media (max-width: $small) {
    & h1 {
      font-size: 200%;
    }
    & h3 {
      font-size: 80%;
    }
    & p {
      font-size: 80%;
    }
  }
}

.App {
  height: 100vh;
  width: 100vw;
}
.darkModeToggle {
  position: absolute;
  top: 8px;
  right: 0;
}
.contentContainer {
  height: calc(100% - 60px);
  position: relative;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  overflow: auto;
  @include themed() {
    background: t('bg');
  }
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 75px;
  width: 84%;
  max-width: 1200px;
  @media (max-width: $medium) {
    display: flex;
    padding: 24px;
    flex-direction: column;
  }
}
@keyframes typing {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
