@import 'themes';
@import 'components';
@import 'about';
@import 'projects';
@import 'intro';
@import 'animations';

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  & h1 {
    font-size: calc(26px + (70 - 26) * ((100vw - 320px) / (1920 - 320)));
    margin-block-end: 0em;
    margin-block-start: 0em;
    font-weight: 600;
  }
  & h2 {
    font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (1920 - 320)));
    margin-block-end: 0.5em;
    margin-block-start: 0em;
  }
  & h3 {
    font-size: calc(22px + (34 - 22) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin-block-end: 0.5em;
  }
  h4 {
    font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
    margin-block-end: 0px;
    margin-block-start: 0px;
  }
  p {
    margin-block-end: 1em;
    margin-block-start: 1em;
    line-height: 1.2;
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
  }
  img {
    max-width: 100%;
  }
}

.App {
  height: 100%;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;
}
.button {
  font-size: 14px;
  padding: 14px 22px;
  border-radius: 100px;
  font-weight: 600;
  background: transparent;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: none;
  transition: background 0.4s;
  font-family: $secondaryFont;
}
